
.main {

  .image_dark {
    position: absolute;
    z-index: -1;
    background-color: $bgc-black;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
  }

  .main__image-title {
    position: absolute;
    z-index: -2;

    img {
      min-height: 100vh;
      min-width: 100vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__body {
    width: 100%;
    color: $fc-white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main__hello {
      margin: auto 0;
      width: 100%;
      text-align: center;

      .main__author {
        font-size: $fs-lg;
      }

      .main__link {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        a {
          padding: 20px 75px;
          background-color: $bgc-dark;
          border: 4px $bgc-dark solid;
          border-radius: 20px;
          font-family: $f-subheading;
          font-size: $fs-slg;
          color: $fc-white;
          transition-duration: .3s;

          &:hover {
            background-color: $bgc-purple;
            font-family: $f-heading;
            transition-duration: .3s;
            border: 4px $bgc-purple solid;
          }

        }
      }
    }

    .main__info {
      display: flex;
      align-items: end;

      .triangle-bottom-right {
        width: 0;
        height: 0;
        border-bottom: 245px solid $bgc-dark;
        border-left: 60px solid transparent;
      }

      .main__wrapper {
        width: 100%;
        background-color: $bgc-dark;
        border-radius: 20px 20px 0 0;

        .main__content {
          margin: 75px 0;
          display: flex;
          justify-content: center;

          .main__card {
            width: 160px;

            &:not(&:last-child) {
              margin-right: 40px;
            }

            .item-main {
              text-align: center;

              &:not(&:last-child) {
                margin-right: 40px;
              }

              .item-main__icon img {
                width: 50px;
                height: 50px;
              }

              .item-main__title {
                margin-top: 15px;
                font-family: $f-heading;
              }
            }

          }
        }
      }

      .triangle-bottom-left {
        width: 0;
        height: 0;
        border-bottom: 245px solid $bgc-dark;
        border-right: 60px solid transparent;
      }
    }

  }
}

.gradient {
  background: linear-gradient($bgc-dark, $bgc-dark2);
}

.block__body {
  color: $fc-white;

  .title__wrapper {
    display: flex;

    h3.title_border-bottom {
      border-bottom: $bgc-purple 5px solid;
    }
  }

  .block__content {
    margin-top: 40px;

    p.block__description {
      font-size: $fs-lg;
      font-family: $f-default;
    }
  }
}

.goal {
  padding-top: 150px;

  .goal__body .goal__description {
      padding-left: 20px;
      border-left: $bgc-purple 5px solid;
  }
}

.fit {
  padding-top: 100px;

  .item-fit {
    display: flex;

    &:not(&:last-child) {
      margin-bottom: 30px;
    }

    h5 {
      max-width: 360px;
    }

    p {
      margin-left: 100px;
      max-width: 700px;
    }
  }
}

.skill {
  padding-top: 100px;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
    //grid-template-columns: repeat(2, 1fr);
  }

  .skill__card {
    padding-left: 40px;
    margin-bottom: 15px;
    margin-right: auto;
    cursor: pointer;

    &:hover .item-skill__count {
      background-color: $bgc-purple;
      transition-duration: .3s;
    }

    .item-skill {
      display: flex;
      align-items: center;

      &__count {
        min-width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px $bgc-purple solid;
        border-radius: 50%;
        transition-duration: .1s;

        h5 {
          font-family: $f-default;
        }
        }
      &__description {
        //max-width: 360px;
        width: 100%;
        margin-left: 80px;
      }
    }
  }
}

.certificate {
  padding-top: 100px;

  .certificate__body {
    display: flex;

    .certificate__text {
      margin-right: 40px;
      margin-top: 0;

      .certificate__description {
        margin-top: 40px;
      }

      .certificate__author__wrapper {
        display: flex;
        margin-top: 40px;

        img {
          width: 50px;
          height: 50px;
        }
        p {
          margin: auto 0 auto 20px;
          font-size: $fs-lg;
        }
      }
    }

    .certificate__title-image {
      width: 560px;
    }
  }
}

.title_center {
  text-align: center;
}

.info {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $bgc-dark2;
  color: $fc-white;

  &-general {
    display: flex;
    margin-top: 80px;
    justify-content: center;

    .info-general__card {
      &:not(&:last-child) {
        margin-right: 40px;
      }

      .item-info-general {
        &__title-block {
          width: 160px;
          height: 90px;
          background-color: $bgc-purple;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__description {
          font-family: $f-subheading;
          font-size: $fs-lg;
          text-align: center;
          margin-top: 5px;
        }
      }
    }
  }
}
