// ========== Font ==========

// Font style
$f-default: 'Montserrat-Medium', sans-serif;
$f-heading: 'Montserrat-Bold', sans-serif;
$f-subheading: 'Montserrat-SemiBold', sans-serif;
$f-small: 'Montserrat-Regular', sans-serif;

// Font size heading
$fs-h1: 96px;
$fs-h2: 72px;
$fs-h3: 64px;
$fs-h4: 48px;
$fs-h5: 36px;
$fs-h6: 24px;

// Font size paragraph
// [Large, SemiLarge, Medium, Regular, Small, ExtraSmall]
$fs-lg: 24px;
$fs-slg: 20px;
$fs-md: 18px;
$fs-rg: 16px;
$fs-sm: 14px;
$fs-esm: 12px;

// Font size link
$fs-a: $fs-md;

// Font color
$fc-white: #FFF;
$fc-black: #000;
$fc-active: #2ED573;
$fc-money: #5758BB;
$fc-disable: #828282;
$fc-purple-gray: #524C6D;


// ========== Background ==========

// Background color
$bgc-white: #FFF;
$bgc-black: #000;
$bgc-light: #F7F7F8;
$bgc-purple: #6E4AFF;
$bgc-dark-purple: #1F173F;
$bgc-light-purple: #9F8BEE;
$bgc-green: #2ED573;
$bgc-red: #ff6b6b;
$bgc-blue: #0abde3;


// ========== Width ==========

// Max width
$max-width: 1160px;

// ========== box-shadow ==========
$box-shadow-purple: rgba(159, 139, 238, 0.25);
$box-shadow-dark-light: rgba(0, 0, 0, 0.1);
$box-shadow-dark: rgba(0, 0, 0, 0.15);
